@font-face {
  font-family: "Soleil";
  src: url(/fonts/Soleil/SoleilRegular.otf) format("opentype");
}

@font-face {
  font-family: "Soleil";
  src: url(/fonts/Soleil/SoleilLight.otf) format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "Soleil";
  src: url(/fonts/Soleil/SoleilBold.otf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Brandon";
  src: url(/fonts/Brandon/brandon-grotesque-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Brandon";
  src: url(/fonts/Brandon/brandon-grotesque-light.ttf) format("truetype");
  font-weight: lighter;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Soleil", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}





/* Navigation menu styling */
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #ffffff;

  padding: 22px 140px;
}

.nav-logo {
  width: 200px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 30px; /* This changes the space between your navigation tabs */
}

.nav-item {
  list-style: none;
}

.nav-item > a {
  font-family: "Soleil", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  text-transform: lowercase;
  letter-spacing: 1.2px;
  text-decoration: none;
}

/* Hamburger menu */
.hamburger {
  display: none;
  float: right;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}


@media (max-width: 991.98px) {
  .site-header {
      padding: 24px 48px;
  }

  .nav-menu {
      flex-direction: column;

      position: fixed;
      top: 110px;
      left: -100%;
      
      width: 100%;
      padding-inline-start: 0;
      padding: 32px 0;

      text-align: center;
      background-color: white;

      transition: 0.5s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 767.98px) {
  .nav-logo {
      width: 100px;
  }

  .nav-menu {
      top: 70px;
  }
}





/* Body copy styling */
.about-body {
  padding: 80px 0;
  background-color: #f3f3f3;
}

.about-container {
  margin: 0 auto;
  width: 750px;
}

.about-info {
  display: flex;
  flex-direction: row;
  gap: 48px; /* Space between your about text and image */
  align-items: flex-start;
  width: 100%;
}

.about-text, .about-img {
  width: 50%;
}

.about-text {
  margin: 0;
  padding: 0;
}

@media (max-width: 991.98px) {
  .about-body {
      padding: 80px 100px;
  }
  
  .about-container {
      width: 100%;
  }

  .about-info {
      display: block;
  }

  .about-text {
      margin-bottom: 24px;
      width: 100%;
  }
}

@media (max-width: 767.98px) {
  .about-img {
      width: 100%;
  }
}

@media (max-width: 575.98px) {
  .about-body {
      padding: 48px;
  }
}





/* Footer styling */
/* If you want your icons to be reversed like your previous version, change the html order */
.site-footer > ul {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Change this value for the spaces between your icons */
  justify-content: flex-end;

  padding-inline-start: 0;
  margin-right: 140px;
}

.site-footer > ul > li {
  list-style: none;
}

@media (max-width: 767.98px) {
  .site-footer > ul {
      justify-content: center;
      margin-right: 0;
  }
}