body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

/* Body copy styling */
.about-body {
    padding: 80px 0;
    background-color: #f3f3f3;
}

.about-container {
    margin: 0 auto;
    width: 750px;
}

.about-info {
    display: flex;
    flex-direction: row;
    gap: 48px; /* Space between your about text and image */
    align-items: flex-start;
    width: 100%;
}

.about-text,
.about-img {
    width: 50%;
}

.about-text {
    font-family: "Brandon", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

@media (max-width: 991.98px) {
    .about-body {
        padding: 80px 100px;
    }

    .about-container {
        width: 100%;
    }

    .about-info {
        display: block;
    }

    .about-text {
        margin-bottom: 24px;
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .about-img {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .about-body {
        padding: 48px;
    }
}

/* Footer styling */
/* If you want your icons to be reversed like your previous version, change the html order */
.site-footer > ul {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Change this value for the spaces between your icons */
    justify-content: flex-end;

    padding-inline-start: 0;
    margin-right: 140px;
}

.site-footer > ul > li {
    list-style: none;
}

@media (max-width: 767.98px) {
    .site-footer > ul {
        justify-content: center;
        margin-right: 0;
    }
}
