.skip-button {
    position: fixed; /* Keeps it in place regardless of scrolling */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    z-index: 9999; /* Ensures it's above other elements */
    color: black; /* Text color */
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.skip-button:hover {
    background: black;
    color: white;
}





#logo-animation {
    position: fixed; /* Ensures it stays in place without affecting other elements */
    top: 50%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%); /* Centers it */
    width: 100%; /* Adjust size */
    height: auto;
    z-index: 9999; /* Keep it on top */
    pointer-events: none; /* Prevent it from blocking clicks */
    display: block; /* Ensure visibility */
    background-color: white;
}
    



/* Default: Show static-nav, hide site-header */
.static-nav {
    display: block ;
}

.dynamic-nav {
    padding-top: -100px;
}


/*
.landing .landing-photo img {
    display: block;
    width: auto;    /* Ensures natural width 
    height: 100%;   /* Keeps it filling most of the screen height 
    object-fit: cover; /* Ensures it fills the area 
    margin-left: -100px;
}

*/

.landing {
    padding: 19px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 19px;
}



.landing .landing-photo {
    position: relative;  /* REQUIRED for absolute positioning */
    width: 54%;
    height: 96vh; 
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

/*infinite carousel*/


.rotating .image{
    position: absolute;
}

.rotating .image img{
    display: block;
    width: auto;    /* Ensures natural width */
    height: 96vh;   /* Keeps it filling most of the screen height */
    object-fit: cover; /* Ensures it fills the area */
    margin-left: -100px;
    
    
}





.rotating .image:nth-child(1) {
    z-index: 5;
    animation: fade 30s infinite;
}

.rotating .image:nth-child(2) {
    z-index: 4;
    animation: fade 30s 6s infinite;
}

.rotating .image:nth-child(3) {
    z-index: 3;
    animation: fade 30s 12s infinite;
}

.rotating .image:nth-child(4) {
    z-index: 2;
    animation: fade 30s 18s infinite;
}

.rotating .image:nth-child(5) {
    z-index: 1;
    animation: fade 30s 24s infinite;
}


@keyframes fade {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    20% {
        opacity: 1;
        transform: scale(1.1);
    }
    25% {
        opacity: 0;
        transform: scale(1.125);
    }
    100% {
        opacity: 0;  /* Ensures it fully disappears before restarting */
    }
}

.landing .landing-photo .award-badge {
    position: absolute;
    top: 5%;  
    right: 5%; 
    z-index: 10;
}


.landing .landing-photo .award-badge img {
    max-width: 100px;  /* Fixed size for consistency */
    height: auto;
}




/* add underline when hovering
.nav-column a:hover {
    text-decoration: underline;
}
*/

.landing-text {
    justify-content: end;
    position: absolute;
    bottom: 5cap;
}


/* See More Button */
.see-more {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.see-more:hover {
    background-color: black;
    color: white;
}


.nav-column > a {
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-transform: lowercase;
    letter-spacing: 1.2px;
    text-decoration: none;
}








/*adaptive sizing*/
@media screen and (max-width: 991.98px) {
    .static-nav {
        display: none !important;
    }

    .dynamic-nav {
        display: block;
    }

    .landing {
        flex-direction: column;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .landing .landing-photo {
        width: 100%;
        height: 66vh;
    }

  
    .rotating .image img {
        margin-left: 0px;
        width: auto;
        height: 66vh;
    }

    

  

    .landing-text {
        margin-top: 50px;
        position: relative;
    }

    .landing .landing-photo .award-badge {
        position: absolute;
        top: 5%;  
        right: 5%; 
        z-index: 100;
    }
    



}



@media screen and (max-width: 575.98px) {
    .landing {
        padding-top: 0px;
    }
    .landing .landing-photo {
        width: 100%;
        height: 45vh;
    }

    .landing .landing-photo .award-badge img {
        max-width: 70px;  /* Fixed size for consistency */
        height: auto;
    }
}
