
    /* Body copy styling */  
  .site-body {
    position: relative;
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
    width: 100%;
    background-color: #f3f3f3;
  }
  
  .site-body .portfolio {
    margin: auto;
    position: relative;
    height: auto;
    width: calc(100% - 280px);
    display: flex;
    flex-wrap: wrap;
  }

  .site-body .portfolio .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 20px;
    overflow-x: hidden;
  }

  .site-body .portfolio .grid .img{
    width: 100%;
    min-height: 275px;
    background-position: center;
    background-size: cover;
  }

  .img:nth-child(1){
    background-image: url(../assets/photography/1.JPG);
  }
  .img:nth-child(2){
    background-image: url(2.jpg);
  }
  .img:nth-child(3){
    background-image: url(3.jpg);
  }
  .img:nth-child(4){
    background-image: url(4.jpg);
  }
  .img:nth-child(5){
    background-image: url(5.jpg);
  }
  .img:nth-child(6){
    background-image: url(6.jpg);
  }
  .img:nth-child(7){
    background-image: url(7.jpg);
  }
  .img:nth-child(8){
    background-image: url(8.jpg);
  }

  
  
  @media screen and (max-width: 991.98px) {
    .site-body .portfolio {
        width: calc(100% - 96px);
    }
    .site-body .portfolio .portfolio-img {
        width: calc(100% / 2);
        height: auto;
    }
  }
  
  @media screen and (max-width: 575.98px) {
    .site-body .portfolio .portfolio-img {
        width: 100%;
        height: auto;
    }
  }
  
  
