body {
    margin: 0;
    padding: 0;
}


/* Body copy styling */

.site-body {
    padding: 80px 0;
    background-color: #f3f3f3;
}

.site-container {
    margin: 0 auto;
    width: 950px;
}

.hero {
    position: relative;
    margin-bottom: 350px;
}

.hero-transfer {
    position: relative;
    margin-bottom: 350px;
}

.hero-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.project-description-container {
    position: absolute;
    top: 113%; /* Adjust this value to move the caption up or down */
    left: 10%; /* Adjust this value to move the caption left or right */
    transform: translateY(-50%); /* This will center the container vertically */
}

.project-description-container-transfer {
    position: absolute;
    top: 113%; /* Adjust this value to move the caption up or down */
    left: 10%; /* Adjust this value to move the caption left or right */
    transform: translateY(-50%); /* This will center the container vertically */
}

.project-description {
    padding: 30px;
    background-color: #ffffff;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .project-body {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: flex-start;
    width: 100%;
    background-color: bisque;
}

.project-body .section-heading {
    padding-left: 55px;
    width: 30%;
    background-color: aqua;
    align: top;
}

.project-body .section-text {
    background-color: aquamarine;
    width: 70%;
} */

.project-body {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    gap: 10px;
}

.sections{
  margin-bottom: 150px;
}

.section-heading{
    width: 40%;
}

.section-text{
    width: 60%;
}

.section-title{
  width: 100%;
  margin-bottom: 60px;
}

.img-left,
.img-right{
    width: 50%;
    overflow: hidden;
}

@media (max-width: 1221.98px){
    .site-container{
        width: 530px;
    }
    
    .project-body{
        display: flex;
        flex-direction: column;
    }

    .project-description-container {
        position: absolute;
        top: 126%; /* Adjust this value to move the caption up or down */
        left: 10%; /* Adjust this value to move the caption left or right */
        transform: translateY(-50%); /* This will center the container vertically */
    }

    .project-description-container-transfer {
        position: absolute;
        top: 142%; /* Adjust this value to move the caption up or down */
        left: 0%; /* Adjust this value to move the caption left or right */
        transform: translateY(-50%); /* This will center the container vertically */
    }

    .hero-transfer{
        margin-bottom: 370px;
    }

    .section-text, .section-heading{
        width: 100%;
    }

    .img-left,
    .img-right{
        flex-direction: column;
        width: 100%;
    }
    
}

@media (max-width: 991.98px) {
    
}

@media (max-width: 767.98px) {
    
}

@media (max-width: 575.98px) {
    .site-container{
        width: 300px;
    }

    .hero{
        margin-bottom: 420px;
    }

    .hero-transfer{
        margin-bottom: 510px;
    }

    .project-description-container {
        position: absolute;
        top: 180%; /* Adjust this value to move the caption up or down */
        left: 0%; /* Adjust this value to move the caption left or right */
        transform: translateY(-50%); /* This will center the container vertically */
    }

    .project-description-container-transfer {
        position: absolute;
        top: 220%; /* Adjust this value to move the caption up or down */
        left: 0%; /* Adjust this value to move the caption left or right */
        transform: translateY(-50%); /* This will center the container vertically */
    }
    
    .project-description {
        padding: 30px;
        background-color: #ffffff;
        width: 300px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .sections{
        margin-bottom: 50px;
    }

    .img-left,
    .img-right{
        flex-direction: column;
    }

    .gifs{
        width: 100%;
    }
}


