.site-footer {
    margin: 1rem 0;
    background-color: #fffffff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.site-footer > ul {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Change this value for the spaces between your icons */
    justify-content: flex-end;
    padding-inline-start: 0;
    margin-right: 140px;
}

.site-footer > ul > li {
    list-style: none;
}

@media (max-width: 767.98px) {
    .site-footer > ul {
        justify-content: center;
        margin-right: 0;
    }
}

/* Media query to center the image between 767.98px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .about-info {
        align-items: center;
    }
    .about-img {
        margin: 0 auto;
    }
}