@font-face {
    font-family: "Soleil";
    src: url(/fonts/Soleil/SoleilRegular.otf) format("opentype");
}

@font-face {
    font-family: "Soleil";
    src: url(/fonts/Soleil/SoleilLight.otf) format("opentype");
    font-weight: lighter;
}

@font-face {
    font-family: "Soleil";
    src: url(/fonts/Soleil/SoleilBold.otf) format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Brandon";
    src: url(/fonts/Brandon/brandon-grotesque-regular.ttf) format("truetype");
}

@font-face {
    font-family: "Brandon";
    src: url(/fonts/Brandon/brandon-grotesque-light.ttf) format("truetype");
    font-weight: lighter;
}

h1 {
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

h2{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h3{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 16px;
    font-style: normal;
    margin-bottom: 10px;
}

h4{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}

h5{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h6{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

h7{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-size: 16px;
}


p{
    font-family: "Brandon", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.2;
}