@font-face {
    font-family: "Soleil";
    src: url(/fonts/Soleil/SoleilRegular.otf) format("opentype");
}

@font-face {
    font-family: "Soleil";
    src: url(/fonts/Soleil/SoleilLight.otf) format("opentype");
    font-weight: lighter;
}

@font-face {
    font-family: "Soleil";
    src: url(/fonts/Soleil/SoleilBold.otf) format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Brandon";
    src: url(/fonts/Brandon/brandon-grotesque-regular.ttf) format("truetype");
}

@font-face {
    font-family: "Brandon";
    src: url(/fonts/Brandon/brandon-grotesque-light.ttf) format("truetype");
    font-weight: lighter;
}

h1 {
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

h2{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h3{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 16px;
    font-style: normal;
    margin-bottom: 10px;
}

h4{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}

h5{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h6{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

h7{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h8{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h9{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    color: red;
}

h10{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: italic;
    text-decoration: none;
    color: red;
}

h11{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    
    color: black;
}

h12{
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

p{
    font-family: "Brandon", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.2;
}


/* nav underline interaction */
span {
    position: relative;
}

span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

span:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
