  body {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-family: "Soleil", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  
  
  
  
  
  /* Body copy styling */
  
  .site-body {
    padding: 80px 0;
    background-color: #f3f3f3;
  }
  
  .site-container {
    margin: 0 auto;
    width: 950px;
  }


.hero{
    margin-bottom: 300px;
}

.hero-img{
    width: 100%;
    height: auto;
}

.project-description-container{
    z-index: 10;
    position: absolute;
    top: 60%;
}

.project-description{
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: #ffffff;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-body{
  margin: 0 auto;
  /*display: flex;*/
  flex-direction: row;
  gap: 48px; /* Space between your about text and image */
  align-items: flex-start;
  width: 100%;
  background-color: bisque;
}

.project-body .section-heading{
  padding-left: 55px;
  width: 30%;
  background-color: aqua;
  align: top;
}

.project-body .section-text{
  background-color: aquamarine;
  width: 70%;
}


  @media (max-width: 991.98px) {
    .about-body {
        padding: 80px 100px;
    }
    
    .about-container {
        width: 100%;
    }
  
    .about-info {
        display: block;
    }
  
    .about-text {
        margin-bottom: 24px;
        width: 100%;
    }
  }
  
  @media (max-width: 767.98px) {
    .about-img {
        width: 100%;
    }
  }
  
  @media (max-width: 575.98px) {
    .about-body {
        padding: 48px;
    }
  }
  
  
  
  
  
  /* Footer styling */
  /* If you want your icons to be reversed like your previous version, change the html order */
  .site-footer > ul {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Change this value for the spaces between your icons */
    justify-content: flex-end;
  
    padding-inline-start: 0;
    margin-right: 140px;
  }
  
  .site-footer > ul > li {
    list-style: none;
  }
  
  @media (max-width: 767.98px) {
    .site-footer > ul {
        justify-content: center;
        margin-right: 0;
    }
  }